/node_modules
/vendor
.env
.DS_Store
storage/*.key
public/storage
storage/logs/*
!storage/logs/.gitkeep
bootstrap/cache/*
.idea
.vscode
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
/.phpunit.result.cache
Homestead.json
Homestead.yaml
/.vagrant
